/* ORANGE THEME */

html {
    background-image: linear-gradient(90deg, rgb(230, 126, 34) 0%, rgb(192, 57, 43) 100%);
    background-image: -moz-linear-gradient(left, rgb(230, 126, 34) 0%, rgb(192, 57, 43) 100%);
    background-image: -webkit-linear-gradient(left, rgb(230, 126, 34) 0%, rgb(192, 57, 43) 100%);
    background-image: -o-linear-gradient(left, rgb(230, 126, 34) 0%, rgb(192, 57, 43) 100%);
    background-image: -ms-linear-gradient(left, rgb(230, 126, 34) 0%, rgb(192, 57, 43) 100%);
}
html.ie{
    background: url(../../../images/ie9/orange-ie9.png) repeat-y;
    background-size: contain;
}
h1.homeHeading,
.footer h4,
a.navbar-brand {
    color: #ffe2a0;
}
.subscribeBtn,
.contactBtn {
    background: rgba(232, 180, 96, 0.3);
}
.imgOverlay .overlayColor {
    background: rgba(232, 180, 96, 0.5);
}
.subscribeBtn:hover,
.contactBtn:hover,
.buyButton button:hover,
.buyButton .active {
    background: rgba(232, 180, 96, 0.8);
    color: #fff;
}
.profileButton:hover{
    background: rgba(232, 180, 96, 0.5);
}
.serviceBlock .leftIcon{
    background: rgba(232, 180, 96, 0.5);
}
.serviceBlock .leftIcon:hover{
    background: rgba(232, 180, 96, 1);
}
.priceBox .priceHeader.active{    
    background: rgba(232, 180, 96, 0.6);
}